/app/config/parameters.yml
/build/*
!/build/*.dist
!/build/*.sh
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/uploads/
/web/app_dev.php
/web/.htaccess
/.idea/

#exclude BIN binaries
/bin/*
!/bin/console
!/bin/symfony_requirements

docker/.env
docker/docker-compose.override.yml
docker/volume/logs/symfony/*
!docker/volume/logs/symfony/.gitkeep
docker/volume/logs/nginx/*
!docker/volume/logs/nginx/.gitkeep
docker/volume/db/data/*
!docker/volume/db/data/.gitkeep