# To get started with security, check out the documentation:
# http://symfony.com/doc/current/security.html
security:

    encoders:
        FOS\UserBundle\Model\UserInterface: bcrypt
        Symfony\Component\Security\Core\User\User: plaintext

    role_hierarchy:
            ROLE_SUPER_ADMIN:                                      ROLE_ADMIN
#            !php/const:AppBundle\Entity\User::ROLE_ADMIN:          !php/const:AppBundle\Entity\User::ROLE_DEFAULT

    # http://symfony.com/doc/current/security.html#b-configuring-how-users-are-loaded
    providers:
        in_memory:
            memory:
                users:
                    dev:    { password: '%password_dev%', roles: !php/const:AppBundle\Entity\User::ROLE_SUPER_ADMIN }

        fos_userbundle:
            id: fos_user.user_provider.username


        backend_provider:
            chain:
                providers: [in_memory, fos_userbundle]

    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            pattern: ^/
            form_login:
                provider: backend_provider
                csrf_token_generator: security.csrf.token_manager
            anonymous: true
            logout: true
            # activate different ways to authenticate

            # http://symfony.com/doc/current/security.html#a-configuring-how-your-users-will-authenticate
            #http_basic: ~

            # http://symfony.com/doc/current/cookbook/security/form_login_setup.html
            #form_login: ~

    access_control:
        - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/, role: ROLE_ADMIN }
